{% load static %}
{% load screenshot_tags %}

{% for project in projects %}
    <article class="portfolio-item pf-{{ project.category.slug }}">
        <div class="portfolio-image">
            {% with project.screenshots.all as project_shots %}
                {% if project_shots|length > 1 %}
                    <div class="fslider" data-arrows="false" data-speed="700" data-pause="7000">
                        <div class="flexslider">
                            <div class="slider-wrap">
                                {% project_shots_by_count project 4 as screenshots_by_count %}
                                {% for screenshot in screenshots_by_count %}
                                    <div class="slide"><a href="portfolio-single-gallery.html"><img
                                            src="{% static 'images/portfolio/4/12.jpg' %}" alt="Fixed Aperture"></a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <img src="{% static 'images/portfolio/4/5.jpg' %}" alt="Console Activity">
                {% endif %}
            {% endwith %}
            <div class="portfolio-overlay" data-lightbox="gallery">
                <a href="images/portfolio/full/12.jpg" class="left-icon" data-lightbox="gallery-item"><i
                        class="icon-line-stack-2"></i></a>
                <a href="images/portfolio/full/12-1.jpg" class="hidden"
                   data-lightbox="gallery-item"></a>
                <a href="portfolio-single-gallery.html" class="right-icon"><i
                        class="icon-line-ellipsis"></i></a>
            </div>
        </div>
        <div class="portfolio-desc">
            <h3><a href="portfolio-single-gallery.html">Fixed Aperture</a></h3>
            <span><a href="#">Illustrations</a>, <a href="#">Graphics</a></span>
        </div>
    </article>
{% empty %}
    <p>There are no projects yet</p>
{% endfor %}