<div id="copyrights">

    <div class="container clearfix">

        <div class="col_half">
            Copyrights &copy; {% now 'Y' %} All Rights Reserved by SleekForum Inc.<br>
        </div>

        <div class="col_half col_last tright">
            <div class="fright clearfix">
                <a href="https://facebook.com/aderibigbep" class="social-icon si-small si-borderless si-facebook">
                    <i class="icon-facebook"></i>
                    <i class="icon-facebook"></i>
                </a>

                <a href="https://twitter.com/aderibigbep" class="social-icon si-small si-borderless si-twitter">
                    <i class="icon-twitter"></i>
                    <i class="icon-twitter"></i>
                </a>

                <a href="https://www.pinterest.com/adepeter26/" class="social-icon si-small si-borderless si-pinterest">
                    <i class="icon-pinterest"></i>
                    <i class="icon-pinterest"></i>
                </a>

                <a href="https://gitbub.com/adepeter" class="social-icon si-small si-borderless si-github">
                    <i class="icon-github"></i>
                    <i class="icon-github"></i>
                </a>

                <a href="https://www.linkedin.com/in/oluwaseun-peter-a21a3299/" class="social-icon si-small si-borderless si-linkedin">
                    <i class="icon-linkedin"></i>
                    <i class="icon-linkedin"></i>
                </a>
            </div>

            <div class="clear"></div>

            <i class="icon-envelope2"></i> adepeter26@gmail.com <span class="middot">&middot;</span> <i
                class="icon-headphones"></i> +234-80-9779-9871 <span class="middot">&middot;</span> <i
                class="icon-skype2"></i> live:.cid.76ca492662e92c09
        </div>

    </div>

</div><!-- #copyrights end -->