{% load static %}


<div class="swiper-container swiper-parent">
    <div class="swiper-wrapper">
        <div class="swiper-slide dark" style="background-image: url({% static 'images/slider/home.jpg' %});">
            <div class="container clearfix">
                <div class="slider-caption slider-caption-center">
                    <div data-animate="fadeInDown" class="logo"><img src="{% static 'images/slider/logo-big.png' %}" alt="logo" width="130">
        </div>
                    <h2 data-animate="slideInUp">Oluwaseun Peter</h2>
                    <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">I grid python codes and then weld them with Django syntax into beautiful and efficient websites..</p>
                </div>
            </div>
        </div>
    </div>
</div>